.info-box {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-box > span.name {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #232323;
}

.info-box > span.position {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: #232323;
}

.info-box > span.price {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #232323;
}

.meta-box {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.meta-box > .meta-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meta-box > .meta-item > i {
  font-size: 14px;
  margin-bottom: 5px;
  color: inherit;
}

.meta-box > .meta-item > p {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: inherit;
}